.header-nav {
  height: 80px;
  background-color: rgb(42, 29, 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}
.header-nav a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 18px;
  margin-left: 38px;
}
.header-nav a:hover {
  color: rgb(7, 90, 163);
}
